extends layout


block content
  h1= title
  br
  h4 Upload Image
  form(method='post', enctype='multipart/form-data', action='')
    input(type='file', name='imageupload')
    input(type='submit', name='uploadimage', value='Upload Image')
  h5= (msg===undefined ? '' : msg)
  br
  h4 Image processing  
  li 
    a(href='/greyscale')
      button(type="button") Greyscale Image
  li
    a(href='/detection')
      button(type="button") Face detection